<header>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'Category', "#", class: "category-list" %></li>
      <li><%= link_to 'Brand', "#", class: "brand-list" %></li>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
      <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %> </li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
      <li><%= link_to 'Login', new_user_session_path, class: "login" %></li>
      <li><%= link_to 'Signup', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='Search'>
      <button class="search-button">
        <%= image_tag "iconmonstr-search-thin-240.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  </div>
  <h1>MURAKAMI_APP</h1>
  <p>- Wear your favorite clothes and enjoy your life as you like. -</p>
</header>
