<%= render "header" %>
<div class="wrapper">
<body>
  <ul class="top-banner">
    <li class='list'>
      <%= link_to users_index_path(@user) do %>
      <%= image_tag "SAMPLE.png", class: "item-img" %>
      <div class='item-info'>
        <h1 class='item-name'>
          SAMPLE_1
        </h1>
        <div class='item-price'>
          <span>10,000円<br>(tax inc.)</span>
        </div>
      </div>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "SAMPLE.png", class: "item-img" %>
      <div class='item-info'>
        <h2 class='item-name'>
          SAMPLE_2
        </h2>
        <div class='item-price'>
          <span>10,000円<br>(tax inc.)</span>
        </div>
      </div>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "SAMPLE.png", class: "item-img" %>
      <div class='item-info'>
        <h3 class='item-name'>
          SAMPLE_3
        </h3>
        <div class='item-price'>
          <span>10,000円<br>(tax inc.)</span>
        </div>
      </div>
      <% end %>
    </li>
    <li class='list'>
      <%= link_to '#' do %>
      <%= image_tag "SAMPLE.png", class: "item-img" %>
      <div class='item-info'>
        <h4 class='item-name'>
          SAMPLE_4
        </h4>
        <div class='item-price'>
          <span>10,000円<br>(tax inc.)</span>
        </div>
      </div>
      <% end %>
    </li>
  </ul>
</body>
  <%# /商品一覧 %>
</div>